.single-pane {
  max-width: 720px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.code-sample {
  background-color: var(--color-canvas-subtle);
  border-left: 1px solid var(--color-border-default);
  border-right: 1px solid var(--color-border-default);
  border-bottom: 0px;
}
.code-sample > pre {
  border: 0px !important;
  margin-top: 0px !important;
  /* padding-top: 0px !important; */
  margin: 0px !important;
  /* word-break: break-all; */
}

.code-sample > pre > code > span {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.section:not(.header):hover {
    background: var(--color-canvas-subtle);
}

.annotations {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.two-pane > div:last-child > .code-sample {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid var(--color-border-default);
}
