.single-pane {
  max-width: 720px;
}

.code-sample {
  background-color: var(--color-canvas-subtle);
  border-left: 1px solid var(--color-border-default);
  border-right: 1px solid var(--color-border-default);
  border-bottom: 0px;
}
.code-sample > pre {
  border: 0px !important;
  margin-top: 0px !important;
  /* padding-top: 0px !important; */
  margin: 0px !important;
}

.annotations {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px
}

.two-pane > div:last-child > .code-sample {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid var(--color-border-default);
}
